@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Just a simple bible app.</h3>

<p>This is just a simple bible app that I threw together to showcase some of my ASP.Net skillz.</p>
