@{
    ViewData["Title"] = "Contact";
}

<div class="bible-page-container">
    <div class="static-page-card">
        <h2>@ViewData["Title"]</h2>
        <h3>My name is Chris Hayes and I am a full stack .Net developer.</h3>

        <address>
            <p>You can reach out to me on any of these mediums:</p>
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/hayescs/" target="_blank" rel="noopener">
                        <i class="fab fa-linkedin-in fa-lg"></i> LinkedIn
                    </a>
                </li>
                <li>
                    <a href="https://bitbucket.org/hayeschris/" target="_blank" rel="noopener">
                        <i class="fab fa-bitbucket fa-lg"></i> Bitbucket
                    </a>
                </li>
                <li>
                    <a href="https://github.com/chrisseanhayes" target="_blank" rel="noopener">
                        <i class="fab fa-github fa-lg"></i> GitHub
                    </a>
                </li>
                <li>
                    <a href="https://stackoverflow.com/users/103897/chris-hayes" target="_blank" rel="noopener">
                        <i class="fab fa-stack-overflow fa-lg"></i> Stack Overflow
                    </a>
                </li>
                <li>
                    <a href="https://app.pluralsight.com/profile/chrisseanhayes" target="_blank" rel="noopener">
                        <i class="fas fa-eye fa-lg"></i> Pluralsight
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ContactMe")">
                        <i class="fas fa-envelope fa-lg"></i> Send Message
                    </a>
                </li>
            </ul>
        </address>
    </div>
</div>
