@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>My name is Chris Hayes and I am a full stack .Net developer.</h3>

<address>
    You can reach out to me on one of these mediums:
    <ul>
        <li><a href="https://www.linkedin.com/in/hayescs/"><i class="fab fa-linkedin-in fa-2x"></i>&nbsp;LINKEDIN</a></li>
        <li><a href="https://bitbucket.org/hayeschris/"><i class="fab fa-bitbucket fa-2x"></i>&nbsp;BITBUCKET</a></li>
        <li><a href="https://github.com/chrisseanhayes"><i class="fab fa-github fa-2x"></i>&nbsp;GITHUB</a></li>
        <li><a href="https://stackoverflow.com/users/103897/chris-hayes"><i class="fab fa-stack-overflow fa-2x"></i>&nbsp;STACKOVERFLOW</a></li>
        <li><a href="https://app.pluralsight.com/profile/chrisseanhayes"><i class="fas fa-eye fa-2x"></i>&nbsp;PLURALSIGHT</a></li>
        <li><a href="/Home/ContactMe">If you absolutely must send me a message</a></li>
    </ul>


</address>
